[alias]
	stash-all = stash save --include-untracked
	undo = reset --soft HEAD^
[branch]
	sort = -committerdate
[commit]
	gpgSign = true
[core]
	editor = vim
	excludesfile = ~/.gitignore.global
[diff]
	colorMoved = default
	colorMovedWS = allow-indentation-change
	external = difft
[fetch]
	prune = true
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = simple
[rerere]
	enabled = true
[transfer]
	fsckobjects = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	email = francis.gurr@gmail.com
	name = Francis-Gurr
	signingkey = 0E5D6DB4C588E23F
